

@page

@model IndexModel


@{
    ViewData["Title"] = "Home page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is project to build Web apps with ASP.NET Core</p>
    <h5>To view group details , go to Privacy tab.</h5>

</div>
