@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<h1>@ViewData["Title"]</h1>

<p>This group project belong to the following members of Group 4.</p>
<h5>Manu Shrivastava</h5>
<h5>Akshat Tomar</h5>
<h5>Arinze Okafor</h5>
<h5>Fareed </h5>
<h1>&nbsp;</h1>
<p>Submitted to: Mrs. Nital Shah.</p>
